<h2 class="resaltar espacio"><strong>- Habilidades:</strong></h2>

<div class="espacio">
    <div class="espacio">
        <section class="fondo-habilidades rounded-5 espacio" id="habilidades">
            <h3 class="espacio resaltarV3">- Lenguajes que he utilizado:</h3>
            <ul class="resaltarV2">
                <li><h6 class="espacio">Python</h6></li>
                <li><h6 class="espacio">Java</h6></li>
                <li><h6 class="espacio">Java Script</h6></li>
                <li><h6 class="espacio">C++</h6></li>
            </ul>
            <h3 class="espacio resaltarV3">- Algunas de mis habilidades:</h3>
            <div>
                <h4 class="espacio resaltarV2">/ Programar con Java:</h4>
                <div class="progress m-1">
                    <div class="progress-bar progress-bar-striped bg-primary"
                        role="progressbar" aria-label="Info striped example"
                        style="width: 90%" aria-valuenow="50" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <br>
                <h4 class="espacio resaltarV2">/ Programar C++:</h4>
                <div class="progress m-1">
                    <div class="progress-bar progress-bar-striped bg-info"
                        role="progressbar" aria-label="Info striped example"
                        style="width: 40%" aria-valuenow="50" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <br>
                <h4 class="espacio resaltarV2">/ Programar con Python:</h4>
                <div class="progress m-1">
                    <div class="progress-bar progress-bar-striped bg-success"
                        role="progressbar" aria-label="Info striped example"
                        style="width: 65%" aria-valuenow="50" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <br>
                <h4 class="espacio resaltarV2">/ Trabajo en Equipo:</h4>
                <div class="progress m-1">
                    <div class="progress-bar progress-bar-striped bg-danger"
                        role="progressbar" aria-label="Info striped example"
                        style="width: 90%" aria-valuenow="50" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <br>
                <h4 class="espacio resaltarV2">/ Responsabilidad:</h4>
                <div class="progress m-1">
                    <div class="progress-bar progress-bar-striped bg-warning"
                        role="progressbar" aria-label="Info striped example"
                        style="width: 95%" aria-valuenow="50" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <br>
            </div>
        </section>
    </div>
</div>
