<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5, mostrar" id="exampleModalLabel">
          Iniciar Sesión
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body, mostrar">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput"
            placeholder="nombreExample"/>
          <label for="floatingInput"><p class="espacio">Usuario</p></label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Contraseña"
            />
          <label for="floatingPassword"><p class="espacio">Contraseña</p></label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" >Acceder</button>
      </div>
    </div>
  </div>
</div>
