<section class="espacio resaltarV2" id="Educacion">
    <br>
    <div>
        <div class="col col-sm-10 col-md-9 col-lg-9 col-xl-9 col-xxl-9">
            <h2 class="resaltar"><strong>- Educación: </strong><i class="fa-solid fa-pen-to-square espacio resaltarV2"></i> <i class="fa-solid fa-trash-can espacio resaltarV2"></i></h2>
            <ul>
                <li><strong class="resaltarV4">Primaria Completa: </strong></li>
                <h6>Estudie en la Escuela "Magdalena de Goyechea y Corte de
                    Güemes Nro 410 "</h6>
                <li><strong class="resaltarV4">Secundaria Completa: </strong></li>
                <h6>Estudie en la Secundaria "Escuela Provincial de Comercio Nro
                    3 Jose Manuel Estrada"</h6>
                <h5 class="resaltarV3">Logo de mi Secundaria:</h5>
                <img class="rounded-circle"
                    src="https://scontent.fjuj3-1.fna.fbcdn.net/v/t31.18172-8/20728666_1477056892340344_7649640717281959738_o.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=Jb1uW57846IAX-fu-nG&_nc_ht=scontent.fjuj3-1.fna&oh=00_AfC1xJCOIPZpRCxCPTABnXFyIDVPsFBCzQNIoADlZ29SYQ&oe=63C95D0D"
                    width="20%">
                <br>
                <br>
                <li><strong class="resaltarV4">Cursando la Universidad
                        (Estudiando <a class="resaltarV3"
                            href="https://www.fi.unju.edu.ar/perfil-y-alcance-lic-en-sistemas">Licenciatura
                            en Sistemas</a>): </strong></li>
                <h6>Actualmente me encuentro cursando en la Universidad "<a class="resaltarV3"
                        href="https://www.fi.unju.edu.ar">FI - Facultad de
                        Ingeniería - UNju</a>"</h6>
                <h5 class="resaltarV3">Logo de mi Universidad:</h5>
                <img class="rounded-1"
                    src="https://fi.unju.edu.ar/images/LOGOS-FI-UNJU/logo-fi-unju-folleteria-vertical-1071x696.jpg"
                    width="20%">
                <br>
                <br>
                <li><strong class="resaltarV4">Realizando el curso
                        #ArgentinaPrograma: </strong></li>
                <h6>En este momento me encuentro realizando la segunda etapa
                    llamada "#YoProgramo"</h6>
            </ul>
        </div>
    </div>
</section>